* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(#2196f3, #6ec6ff);
    text-align: center;
    padding-bottom: 1em;
}

header h1 {
    margin: 0;
    padding-top: 1em;
}

nav {
    list-style: none;
    text-align: center;
    background-image: linear-gradient(#6ec6ff, #2196f3);
    padding-bottom: 1em;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

nav>ul>li {
    display: inline-block;
}

nav li a {
    background-color: rgb(247, 9, 49);
    color: rgb(250, 243, 243);
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    display: block;
    border-radius: 20px;
}

nav li a:hover {
    background-color: #bb2f2f;
}

nav li ul {
    display: none;
    position: absolute;
    min-width: 150px;
}

nav li:hover>ul {
    display: block;
}

nav ul li {
    position: relative;
}

nav ul li ul li ul {
    left: 150px;
    top: 0px;
}

main {
    margin: 1em;
    text-align: center;
}

main>h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

#social-media {
    padding-top: 1em;
    padding-bottom: 1em;
}

#social-media p {
    padding-top: 1em;
    padding-bottom: 1em;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1em;
    padding-bottom: 1em;
}

#container div {
    background-image: linear-gradient( rgb(185, 180, 180), rgb(250, 250, 249));
    margin: 30px;
    padding: 20px;
}

#container h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#container div li {
    list-style: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
}

footer {
    background-image: linear-gradient(#2196f3, #6ec6ff);
    text-align: center;
    padding: 1em 0 1em 0;
}